
   <section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">
  <br>
  <br>
      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <h1>StoreName : {{StoreName| uppercase}}</h1>
        <img [src]="StoreLogo" style="height: 200px; width: 200px;">
       <!-- <h3 *ngIf="Discount == 'No Disscount'">We offer an Explicit Discount of:{{Discount}}</h3>
       -->
        <div>
              
       <br>
       <br>
        <input type="text" [(ngModel)]="ClientName" /> 
          <h3>Hello {{ClientName}}</h3>
        </div>
        <div>
          <span style=" font-size: larger;">Choose Your Favorite Categories :  </span>
          <select>
              <option *ngFor="let category of CategoryList">
                  {{category.Name}}
              </option>
          </select>
        </div>
       
        <br>
        <br>
        <br>
        <br>
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPqawGrNT7xlBUJhEMfXtd1fCDmEeewGFrVQ&usqp=CAU" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Product1</h4>
             
              <div class="portfolio-links">
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPqawGrNT7xlBUJhEMfXtd1fCDmEeewGFrVQ&usqp=CAU" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzF91QiXKKKh_ug-bCsfeBa0cLCOx58bPgEw&usqp=CAU" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Product2</h4>
              <p>{{"We offer an explicit discount of:" + Discount}}</p>
              <div class="portfolio-links">
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzF91QiXKKKh_ug-bCsfeBa0cLCOx58bPgEw&usqp=CAU" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzqR0iDjSE9tUowweconA6CTQaPfdnlc15Sw&usqp=CAU" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Product3</h4>
              <p>{{"We offer an explicit discount of:" + Discount}}</p>
              <div class="portfolio-links">
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzqR0iDjSE9tUowweconA6CTQaPfdnlc15Sw&usqp=CAU" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgxjVLonJSbsfIbqMNXlGKnpiaKamfYWyOoA&usqp=CAU" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Product4</h4>
              <p>{{"We offer an explicit discount of:" + Discount}}</p>
              <div class="portfolio-links">
                <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgxjVLonJSbsfIbqMNXlGKnpiaKamfYWyOoA&usqp=CAU" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>
    

      </div>

    </div>
  </section> 
      <div *ngIf="IsPurshased; then thenBlock; else elseBlock">
      </div>
      <div style="text-align: center;">
          <button class="btn btn-success" (click)="Bye()">Bye</button>
          <ng-template #thenBlock>
          
            <table class="table">
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Discount</th>
                  </tr>
              </thead>
              <tbody *ngFor="let product of ProductList">
                  <tr>
                  <td>{{product.ID}}</td>
                  <td>{{product?.Name | uppercase}}</td>
                  <td>{{product.Price}}</td>
                  <td>{{product.Quantity}}</td>
                  <td>{{product.Price|percentdiscount}}</td>
                </tr>
              </tbody>
            </table><br><br>
          </ng-template>
          
          <ng-template #elseBlock>
          
          <!-- <h3>Thank you for purshasing from our store {{ClientName}}</h3> 
           -->
          </ng-template>
    </div>
    <br>
    <br>
    
      <div style="margin-left: 50px;">
        <button style="margin-right: 50px;" class="btn btn-success" (click)="ProductsWithDiscount()">Products With Discount</button>
      
        <button class="btn btn-success" (click)="ProductsWithOutDiscount()">Products WithOut Discount</button>
      </div>
      
    
   
    <router-outlet></router-outlet>
