<section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <div class="row">
            <div class="col-xl-5">
              <h1>Bettter Design with Hand Made</h1>
              <h2>We are team of talented designers making Hand Made</h2>
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div >
 

    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">


    <br>
    <br>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <h1>StoreName : {{StoreName}}</h1>
          <img [src]="StoreLogo" >
          <h3>We offer an explicit discount of:{{Discount}}</h3>
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPqawGrNT7xlBUJhEMfXtd1fCDmEeewGFrVQ&usqp=CAU" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product1</h4>
               
                <div class="portfolio-links">
                  <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPqawGrNT7xlBUJhEMfXtd1fCDmEeewGFrVQ&usqp=CAU" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzF91QiXKKKh_ug-bCsfeBa0cLCOx58bPgEw&usqp=CAU" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product2</h4>
                <p>{{"We offer an explicit discount of:" + Discount}}</p>
                <div class="portfolio-links">
                  <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzF91QiXKKKh_ug-bCsfeBa0cLCOx58bPgEw&usqp=CAU" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzqR0iDjSE9tUowweconA6CTQaPfdnlc15Sw&usqp=CAU" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product3</h4>
                <p>{{"We offer an explicit discount of:" + Discount}}</p>
                <div class="portfolio-links">
                  <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzqR0iDjSE9tUowweconA6CTQaPfdnlc15Sw&usqp=CAU" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgxjVLonJSbsfIbqMNXlGKnpiaKamfYWyOoA&usqp=CAU" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product4</h4>
                <p>{{"We offer an explicit discount of:" + Discount}}</p>
                <div class="portfolio-links">
                  <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgxjVLonJSbsfIbqMNXlGKnpiaKamfYWyOoA&usqp=CAU" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>
      

        </div>

      </div>
    </section> 